div{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: 80px;
  padding: 30px;
  margin-right: 20px;
}

.card {
  display: grid;
  grid-template-columns: auto;
  background-color: #ecf3f7;
  box-shadow: 0 2px 4px rgba(19, 18, 18, 0.986);
  margin-bottom: 20px;
  padding: 30px;
}
  
.card h3 {
  font-size: 22px;
  margin-top: 0;
}
  
.card p {
  font-size: 16px;
  margin-bottom: 0px;
}

.card a {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}